---
layout: minimal
---

<!-- Nav -->
<nav>
	<div class="row">
		<a href="{{ site.baseurl }}">Home</a>
		<a href="{{ site.baseurl }}what-is-linux">What Is Linux?</a>
		<a href="{{ site.baseurl }}why-use-linux">Why Use Linux?</a>
		<a href="{{ site.baseurl }}switching">Making the Switch</a>
		<a href="{{ site.baseurl }}hardware">Linux Hardware</a>
	</div>
</nav>

<!-- Header -->
<header>
	<div class="row">
		<a href="{{ site.baseurl }}"><img class="logo" src="{{ site.dirs.images }}{{ site.logo.sitelogo }}"></a>
	</div>
</header>


<!-- Row -->
<div class="row">
	<!-- Article -->
	<article>
		{%- if page.image -%}<!-- Screenshot -->
		<img class="screenshot" src="{{ site.dirs.screenshots }}{{ page.image }}" alt="{{ page.caption }}" title="{{ page.title }}" onclick="openModal();">
		{%- if page.caption -%}<p class="footnote text-right">{{ page.caption }}</p>{%- endif -%}{%- endif -%}
		<!-- Title -->
		<div class="page-title">
			{%- if page.logo -%}<img class="logo" src="{{ site.dirs.logos }}{{ page.logo }}.svg">{%- endif -%}<h2>{{ page.title }}</h2>
		</div>
		<!-- Tags -->
		<ul class="tags">
			<!-- Tags -->
			{%- for tag in page.tags -%}<li><a href="{{ site.dirs.tags }}{{ tag }}">{{ tag | downcase }}</a></li>
			{%- endfor -%}<!-- Categories -->
			{%- for category in page.category -%}<li><a href="{{ site.dirs.categories }}{{ category | downcase}}">{{ category | downcase }}</a></li>
			{%- endfor -%}
		</ul>
		{%- if page.notes -%}<!-- Notes -->
		<table class="notes">
			<style type="text/css">tbody:before{content:"{{ page.title | strip_html }} Details"</style>
			<tbody>
				{%- if page.notes.homepage -%}<!-- Homepage --><tr>
					<td>Homepage</td>
					<td><a href="{{ page.notes.homepage }}" target="_blank">{{ page.notes.homepage | remove: "http://" | remove: "https://"}}</a></td>
				</tr>{%- endif -%}
				{%- if page.notes.version -%}<!-- Version --><tr>
					<td>Latest Version</td>
					<td>{{ page.notes.version }}</td>
				</tr>{%- endif -%}
				{%- if page.notes.desktops -%}<!-- Desktop --><tr>
					<td>Desktop Environment(s)</td>
					<td>{%- for desktop in page.notes.desktops -%}<a href="{{ site.dirs.desktops }}{{ desktop | downcase | slugify }}">{{ desktop }}</a>{%- if forloop.last -%}{%- else -%}, {%- endif -%}{%- endfor -%}</td>
				</tr>{%- endif -%}
				{%- if page.notes.install -%}<!-- Installation Type --><tr>
					<td>Installation type</td>
					<td>{{ page.notes.install | capitalize }}</td>
				</tr>{%- endif -%}
				{%- if page.notes.based-on -%}<!-- Based On --><tr>
					<td>Based On</td>
					<td>{%- for distro in page.notes.based-on -%}<a href="{{ site.dirs.distro }}{{ distro | downcase | slugify }}">{{ distro | capitalize }}</a>{%- if forloop.last -%}{%- else -%}, {%- endif -%}{%- endfor -%}</td>
				</tr>{%- endif -%}
				{%- if page.notes.developers -%}<!-- Developer --><tr>
					<td>Developer(s)</td>
					<td>{%- for developer in page.notes.developers -%}{%- if developer.url -%}<a href="{{ developer.url }}" target="_blank">{{ developer.name }}</a>{%- if forloop.last -%}{%- else -%}, {%- endif -%}{%- else -%}{{ developer.name }}{%- if forloop.last -%}{%- else -%}, {%- endif -%}{%- endif -%}{%- endfor -%}</td>
				</tr>{%- endif -%}
			</tbody>
		</table>{%- endif -%}
		<!-- Content -->
		{{ content }}
		{%- if page.notes.homepage -%}<a href="{{ page.notes.homepage }}" class="button center" target="_blank">Visit {{ page.title }} »</a>{%- endif -%}</article>
	<br>
	<!-- Page Edit -->
	<div class="footnote text-right"><i class="fas fa-exclamation-triangle"></i> Something missing, incorrect or out of date? <a href="{{ site.github.edit.posts }}{%- if page.updated -%}{{ page.updated | date: '%Y-%m-%d' }}{%- else -%}{{ page.date | date: '%Y-%m-%d' }}{%- endif -%}-{{ page.url | remove: site.dirs.distro }}.md" target="_blank">Edit this page</a> or <a href="{{ site.github.issues }}/new/?title=[Page%20Issue]%20{{ page.title }}" target="_blank">file an issue</a>.</div>
</div>

<!-- Modal -->
<div id="screenshotDialog" class="modal" onclick="closeModal()">
	<span class="modal-close" onclick="closeModal()">&times;</span>
	<div class="modal-content">
		<img src="{{ site.dirs.screenshots }}{{ page.image }}">
	</div>
</div>
<script type="text/javascript">
	function openModal() {document.getElementById('screenshotDialog').style.display = "block";}
	function closeModal() {document.getElementById('screenshotDialog').style.display = "none";}
</script>